body {
    color: black;
    background: red;
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 100px;

}

header {
    border-bottom: solid 2px rgb(9, 1, 127, 1);
    padding: 20px;
    font-size: 32px;
    color: rgb(9, 1, 127, 1)
}

.chamada {
    background: rgb(171,0,255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
img {
    height: 200px;
}


h1 {
    font-size: 40;
}

p {
    font-size: 20px;
}
  
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.8;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid white
}

.categoria h2 {
    color: rgb(9, 1, 127, 1);
}